body {background-color: cyan;}
.titulo {color: blue; text-align: center;}

.borda {border: 3px solid black;border-radius: 15px;}
.descricao {font-size: 25px; justify-content: left;}

.tabela {  
  margin: 28px auto;
  border-color: blueviolet;
  width: 78%;
  font-family: Verdana, sans-serif;}
  
  




